
.titulo{
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 20px;
  background: bisque;
  height: 50px;
}
.canciones{
  overflow: hidden;
text-align: center;
  margin: 0px auto;
  background: rgb(255, 255, 255);
  width: 300px;
 
  }
  

  
  .canciones h1{
      font-size: 22px;
      color: rgb(214, 43, 214);
      margin-bottom: 0px;
     
      font-family: 'Cormorant Garamond', serif;
  }
  
  .canciones h2{
      
      margin-top: 0px;
      font-size: 15px;
      color: rgb(0, 0, 0);
      font-family: 'Cormorant Garamond', serif;
  }

  #boton1{
    
    margin: 0px auto;
    width: 130px;
  }

  .boton{
    margin: 0px auto;
    
    border-radius: 8px;
    font-family: 'Handlee', cursive;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 10px;
    background-image: linear-gradient(to bottom, navajowhite, salmon);
   
}
.boton:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(190, 74, 236);
    transition: all 0.2s ease;
  }